/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap"); */
/* 
* {
  font-family: "Halvetica";
} */

.font1 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;

  color: #000000;
}

.font2 {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;

  color: #000000;
}

/* Mobile */
@media screen and (max-width: 768px) {
  /* Section 1 */

  .offcanvas-end {
    width: 50%;
  }

  #headertext {
    position: relative;
    left: 2%;
    margin-top: 15%;
    margin-bottom: 17%;
  }

  #imgCar {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0%;
    right: 0;
    bottom: 0;
  }

  /* Section 2 */

  #imgService {
    width: 92%;
    height: 92%;
  }

  #textService {
    font-size: 100%;
    position: relative;
    margin-top: 0%;
    margin-right: 1%;
  }

  .checklist {
    font-size: 100%;
    position: relative;
    margin-right: 0%;
  }

  /* Section 3 */
  .textWhyUs {
    text-align: center;
  }

  /* Section 4 - Testimoni */

  #carousel-body {
    height: 100%;
    width: 100%;
    background-color: #f1f3ff;
    border-radius: 10px;
    position: relative;
    padding-top: 3%;
    margin-left: 2.5%;
  }

  .testitext {
    position: relative;
    text-align: center;
    padding-top: 8%;
    padding-right: 11%;
    padding-left: 11%;
    padding-bottom: 5%;
    font-size: 100%;
  }

  .ratestars {
    position: relative;
    padding-top: 10%;
    align-items: center;
    padding-left: 36.5%;
    padding-right: 10%;
  }

  .testijohn {
    align-items: center;
    position: relative;
    padding-top: 5%;
    align-items: center;
    padding-left: 28%;
    padding-right: 30%;
  }

  /* Section 5 - CTA Banner */
  .konten5 {
    padding-top: 20%;
    padding-bottom: 20%;
  }
  #ctabanner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #0d28a6;
    border-radius: 13px;
  }
  .ctabanner {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #0d28a6;
    border-radius: 13px;
  }

  /* Section 6 - FAQ */
  #textFAQ {
    text-align: center;
  }
}

/* Desktop */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Section 1 */

  .offcanvas-end {
    width: 30%;
  }

  #imgCar {
    width: 100%;
    height: 55%;
    position: relative;
    top: 45%;
    right: 0;
    bottom: 0;
  }

  /* Section 2 */

  .centang {
    font-size: 90%;
    position: relative;
    margin-right: 0%;
  }

  /* Section 4 - Testimoni */
  #carousel-body {
    height: 100%;
    width: 100%;
    background-color: #f1f3ff;
    border-radius: 10px;
    position: relative;
    padding-top: 3%;
    margin-left: 1%;
  }

  .testitext {
    position: relative;
    text-align: left;
    padding-top: 1%;
    padding-right: 11%;
    padding-left: 11%;
    padding-bottom: 2%;
    font-size: 100%;
  }

  .ratestars {
    position: relative;
    padding-top: 5%;
    padding-left: 11%;
  }

  .testijohn {
    position: relative;
    padding-top: 45%;
    padding-left: 60%;
  }

  /* Section 5 - Sewa Sekarang */
  .konten5 {
    padding-top: 10%;
    padding-bottom: 10%;
  }
  #ctabanner {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #0d28a6;
    border-radius: 13px;
  }
  .ctabanner {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #0d28a6;
    border-radius: 13px;
  }

  /* Section 6 - FAQ */
  #textFAQ {
    text-align: left;
  }
}

/* Section1 - Home */

#logorental {
  position: fixed;
  left: 7%;
  top: 10px;
}

.navhovercolor {
  color: black;
}

.navhovercolor:hover {
  color: green;
}

.offcanvas-end {
  width: 50%;
}

#imgCar {
  width: 100%;
  height: 80%;
  position: relative;
  top: 20%;
  right: 0;
  bottom: 0;
}

#headertext {
  position: relative;
  left: 5%;
  margin-top: 8%;
  margin-bottom: 15%;
}

/* Section 2 - Our Services */
#imgService {
  width: 75%;
  height: 75%;
}

/* Section 3 - Why Us */
.card {
  width: 19rem;
  height: 14rem;
  padding: 18px;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  background-color: white;
  border-radius: 10px;
}

.card-title {
  font-weight: bold;
  padding-top: 5%;
  padding-bottom: 5%;
}

/* Section 4 - Testimoni */
#carousel-body {
  height: 100%;
  width: 100%;
  background-color: #f1f3ff;
  border-radius: 13px;
  position: relative;
  padding-top: 3%;
}

/* Section 5 - CTA Banner */
.ctabanner {
  width: 100%;
  height: 100%;
  background: #0d28a6;
  border-radius: 13px;
  color: white;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10%;
  padding-bottom: 10%;
}
/* #ctabanner {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #0d28a6;
  border-radius: 13px;
} */

/* Section 6 - FAQ */
.accordion-collapse {
  background-color: #f4f4fa;
}

/* Footer */
footer {
  left: 0;
  right: 0;
}
